.user-layout-container {
    display: flex;
    min-height: 100vh;
    & .layout-left-bg {
        width: 60%;
        background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
    }
    & .layout-right-content {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6ecec;
    }
}
@media screen and (max-width: 1200px) {
    .layout-left-bg {
        display: none;
    }
    .layout-right-content {
        background-color: rgb(72, 161, 16);
    }
}
