.user-layout-container {
    display: flex;
    min-height: 100vh;
    & .layout-left-bg {
        width: 60%;
        background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
    }
    & .layout-right-content {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6ecec;
    }
}
@media screen and (max-width: 1200px) {
    .layout-left-bg {
        display: none;
    }
    .layout-right-content {
        background-color: rgb(72, 161, 16);
    }
}
.layout-container {
    min-height: 100vh !important;
}
.site-layout {
    & .site-layout-background {
        padding: 0 24px !important;
        display: flex;
        justify-content: space-between;
    }
    & .trigger {
        // padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }

    & .trigger:hover {
        color: #1890ff;
    }

    & .logo {
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.3);
    }

    & .site-layout-background {
        background: #fff;
    }
}
